doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:100,600', type='text/css')
    link(rel='stylesheet', href='/plugins/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/plugins/fontawesome/css/all.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/nav

    block content
    
    include includes/scripts
