extends layouts/layout

block content

  div(class='container mt-3')
    div(class='row', align='center')
      if !movies
        h1 No movies
      else
        each val in movies
          div.col-sm-3
            div(class='card', style='width: 16rem;')
              div(class='card-body', align='center')
                  h5.card-title= val.name
              img(src=val.thumbnail, class='card-img-top', alt='...')        
              div(class='card-body', align='center')
                a(href='/movie/'+val._id, class='card-link') Ver
                a(href=val.url, class='card-link') Descargar







