extends layout

block content
  nav(class='navbar navbar-expand-lg navbar-light bg-light')
    a(class='navbar-brand mb-0 h1', href='#') Películas
    button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span(class='navbar-toggler-icon')
    div(class='collapse navbar-collapse' id='navbarNav')
      ul.navbar-nav
        li(class='nav-item active')
          a(class='nav-link') Películas
        li(class='nav-item')
          a.nav-link Registrar

  div(class='container mt-3')
    div(class='row', align='center')
      if !movies
        h1 No movies
      else
        each val in movies
          div.col-sm-3
            div(class='card', style='width: 16rem;')
              div(class='card-body', align='center')
                  h5.card-title= val.name
              img(src=val.thumbnail, class='card-img-top', alt='...')        
              div(class='card-body', align='center')
                a(href='/movie/'+val._id, class='card-link') Ver
                a(href=val.url, class='card-link') Descargar







