extends layout

block content
  nav(class='navbar navbar-light bg-light')
    a(class='navbar-brand', href='#') Películas

  div(class='container mt-3')
    div(class='row', align='center')
      div.col-sm-3
        div(class='card', style='width: 16rem;')
          div(class='card-body', align='center')
              h5.card-title Jhon Wick Chapter 2
          img(src='JWC2/tn.jpg', class='card-img-top', alt='...')        
          div(class='card-body', align='center')
            a(href='', class='card-link') Ver
            a(href='', class='card-link') Descargar
      div.col-sm-3
        div(class='card', style='width: 16rem;')
          div(class='card-body', align='center')
              h5.card-title Jhon Wick Chapter 2
          img(src='JWC2/tn.jpg', class='card-img-top', alt='...')        
          div(class='card-body', align='center')
            a(href='', class='card-link') Ver
            a(href='', class='card-link') Descargar
      div.col-sm-3
        div(class='card', style='width: 16rem;')
          div(class='card-body', align='center')
              h5.card-title Jhon Wick Chapter 2
          img(src='JWC2/tn.jpg', class='card-img-top', alt='...')        
          div(class='card-body', align='center')
            a(href='', class='card-link') Ver
            a(href='', class='card-link') Descargar
      div.col-sm-3
        div(class='card', style='width: 16rem;')
          div(class='card-body', align='center')
              h5.card-title Jhon Wick Chapter 2
          img(src='JWC2/tn.jpg', class='card-img-top', alt='...')        
          div(class='card-body', align='center')
            a(href='', class='card-link') Ver
            a(href='', class='card-link') Descargar






