extends layouts/layout

block content
  div(class='container mt-3' style='min-height: 50em')
    div(class='border rounded  mt-2' id='form-border')
      form(action='/api/movies', method="post", enctype='multipart/form-data')
        .col-2
            h3 Reg Movie:
        div(class='form-group row')
          label(class='col-sm-2 col-form-label') Name
          .col-sm-10
            input(type='text', class='form-control', Placeholder='Movie name', name='name')
        div(class='form-group row')
          label(class='col-sm-2 col-form-label') Movie
          div(class='col-sm-10 input-group')
            input(type='file', class='form-control-file', id='movie', name='movie')
        div(class='form-group row')
          label(class='col-sm-2 col-form-label') Genre
          .col-sm-10
            select(name='genre' class='form-control')
              option(value='', disabled='disabled', selected='selected') Select genre
              option(value='acci贸n') Acci贸n
              option(value='animadas') Animadas
              option(value='comedia') Comedia
              option(value='drama') Drama
              option(value='ficci贸n') Ficci贸n
        div(class='form-group row')
          label(class='col-sm-2 col-form-label') Subs
          .col-sm-10
            input(type='file', class='form-control-file', Placeholder='subs Route', name='subs')
        div(class='form-group row')
          label(class='col-sm-2 col-form-label') Thumbnail
          .col-sm-10
            input(type='file', class='form-control-file', Placeholder='img Route', name='thumbnail')
          
            Button(type='submit' class='btn btn-danger btn-block mt-3', ) Save