extends layouts/layout

block content
  div(class='border rounded  mt-2' id='form-border')
    form(action='/api/movies', method="post")
      .form-row
        .col-2
          h3 Reg Movie:
        .col
          input(type='text', class='form-control', Placeholder='Movie name', name='name')
        .col
          input(type='text', class='form-control', Placeholder='Movie Route', name='url')
        .col
          select(name='genre' class='form-control')
            option(value='', disabled='disabled', selected='selected') Select genre
            option(value='acci贸n') Acci贸n
            option(value='animadas') Animadas
            option(value='comedia') Comedia
            option(value='drama') Drama
            option(value='ficci贸n') Ficci贸n
        .col
          input(type='text', class='form-control', Placeholder='subs Route', name='subs')
        .col
          input(type='text', class='form-control', Placeholder='img Route', name='thumbnail')
        .col-1
          Button(type='submit' class='btn btn-danger btn-block', ) Reg