extends layouts/layout

block content
  div(class='container mt-3' style='min-height: 50em')
    .wrap
      div(class='row rounded' , align='center' id='row-movies')
          if !movies
            div.col-sm-12
              div(class='card text-center')
                .card-body
                  h5= message
          else
            each val in movies
              div(class='col-3')
                div(class='card border',)
                  div(class='card-body', align='center')
                      h5.card-title= val.name
                  img(src="/"+val.thumbnail, class='card-img-top', alt='...', style='min-height:320px ;max-height: 320px;')
                  div(class='card-body')
                    a(href="/movies", class='card-link'): i(class='fas fa-download fa-lg text-info', title='Proximamente')
                    a(href='/api/movies/'+val._id, class='btn btn-danger card-link') Ver
                    a(href='https://www.youtube.com/results?search_query='+val.name, class='card-link' target='_blank'): i(class='fas fa-film fa-lg text-info', title='Trailer')